# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
/venv/
/.venv/
/apis/venv/
/apis/.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Expo & Mobile
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment & Secrets
.env
.env*.local
.netlify
login.txt

# System
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
